@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,300italic,600,700,800,800italic);

/* navbarshadow*/
.top {
    background-color: #46b1de;
    font-family: 'Open Sans', sans-serif;
    height: 120px;
        padding-bottom: 80px;


}
.top p{
    font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
    font-weight:700;
    text-align: center;
    padding-top: 30px;

    background-color: none;
    color: #FFFFFF;
    text-decoration: none;
}

.top h2{
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    line-height: 0.2em;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 30px;
}


.banner  {
    background-color: #f7f7f7;
    min-height: 749px;
    padding: 30px 30px 30px 40px;  								
}


.banner #speakers {
    background-color: #000000;
                            
}

.banner #chart{
    background-color: #278c9d;
                            
}

.banner #filters {
    background-color: #000000;
                            
}

.bottom {
    background-color: #0d1e2a;
    min-height: 60px;
}

.bottom .col-md-1 p{
    padding-top: 27px;

}

#signature {
text-align: center;
color: #32a9db;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
padding-top: 17px;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 0.9em;
}

#share {
    color: #32a9db;
    font-size: 1.5em;
text-align: center;
padding-top: 15px;

}
#share:hover {
    color: #d91f26;
    text-decoration: none;

}



